/* Importar la fuente desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Aplicar Poppins únicamente como fuente */
html,
body {
    font-family: "Poppins", sans-serif !important;
}

/* Aplicar Poppins a encabezados */
h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif !important;
}

/* Aplicar Poppins a párrafos */
p {
    font-family: "Poppins", sans-serif !important;
}

/* Aplicar Poppins a tablas y celdas */
table,
th,
td {
    font-family: "Poppins", sans-serif !important;
}

/* Aplicar Poppins a listas */
ul,
ol {
    font-family: "Poppins", sans-serif !important;
}

/* Aplicar Poppins a enlaces */
a {
    font-family: "Poppins", sans-serif !important;
}

/* Aplicar Poppins a botones */
button {
    font-family: "Poppins", sans-serif !important;
}

/* Aplicar Poppins a elementos de código */
pre,
code {
    font-family: "Poppins", sans-serif !important;
}



.centerVertical {
    display: flex;
    align-items: center; /* Centra el objeto verticalmente */
}

.centerHorizontal {
    display: flex;
    justify-content: center; /* (Opcional) Centra el objeto horizontalmente */
}

.centerObject {
    display: flex;
    align-items: center; /* Centra el objeto verticalmente */
    justify-content: center; /* (Opcional) Centra el objeto horizontalmente */
}

.padding-bottom-5 {
    padding-bottom: 5%;
}

.hero-style6 {
    padding: 73px 0 30px;
}

.transform0 {
    width: 0;
}