/* Importar la fuente desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Aplicar Poppins únicamente como fuente */
html,
body {
    font-family: "Poppins", sans-serif !important;
}

/* Aplicar Poppins a encabezados */
h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif !important;
}

/* Aplicar Poppins a párrafos */
p {
    font-family: "Poppins", sans-serif !important;
}

/* Aplicar Poppins a tablas y celdas */
table,
th,
td {
    font-family: "Poppins", sans-serif !important;
}

/* Aplicar Poppins a listas */
ul,
ol {
    font-family: "Poppins", sans-serif !important;
}

/* Aplicar Poppins a enlaces */
a {
    font-family: "Poppins", sans-serif !important;
}

/* Aplicar Poppins a botones */
button {
    font-family: "Poppins", sans-serif !important;
}

/* Aplicar Poppins a elementos de código */
pre,
code {
    font-family: "Poppins", sans-serif !important;
}

.centerVertical {
    display: flex;
    align-items: center; /* Centra el objeto verticalmente */
}

.centerHorizontal {
    display: flex;
    justify-content: center; /* (Opcional) Centra el objeto horizontalmente */
}

.centerObject {
    display: flex;
    align-items: center; /* Centra el objeto verticalmente */
    justify-content: center; /* (Opcional) Centra el objeto horizontalmente */
}

.padding-bottom-5 {
    padding-bottom: 5%;
}

.hero-style6 {
    padding: 73px 0 30px;
}

.transform0 {
    width: 0 !important;
    height: 0  !important;
    opacity: 0 !important;
}

.maxHeight-120 {
    max-height: 120px;
}

.maxHeight-100 {
    max-height: 100px;
}

.bg-theme {
    background-color: #172A44 !important;
}

.scroll-top:after {
    color: #172A44;
    border: #172A44;
}

.scroll-top .progress-circle path {
    stroke: #172A44;
}

.rent-card {
    background: #172A44;
}
.th-btn.style-border2:hover {
    background: #172A44;
}

.th-btn {
    background-color: #172A44;
}

.th-btn.style-border2 {
    border: 1px solid #AD8C5E;
    color: #AD8C5E;
}

.th-btn.style-border2:hover {
    border: #AD8C5E;
    background-color: #AD8C5E;
}

.th-btn.style-border2.th-btn-icon:after {
    width: 0%;
    height: 0%;
}

.text-theme {
    color: #172A44 !important;
}

.bg-light {
    background-color: #fff !important;
}

.bg-yellow {
    background-color: #AD8C5E !important;
}

.bg-gray {
    background-color: #bbb6b6 !important;
}

.text-yellow {
    color: #AD8C5E !important;
}

.contact-sec-map .location-map-address {
    background: #172A44;
}

.about-contact-grid.style3 .about-contact-icon {
    background: #172A44;
}

.footer-layout2-1 .footer-widget .widget_title {
    color: #172A44;
}

.colorBlue {
    color: #172A44;
}

.th-menu-wrapper .mobile-logo {
    background-color: #172A44;
}

.header-layout2 .th-menu-toggle.sidebar-btn {
    background: #172A44;
}

.property-area-4 {
    margin-top: 0%;
    padding: 8%;
}

.d-none {
    display: block !important;
}

@media (max-width: 992px) {
    .d-none {
        display: none !important;
    }
}

.error-area-1 {
    padding: 150px 0;
}

.width-100 {
    width: 100%;
    max-width: 100%;
}

.rent-card {
    min-height: 444px;
    max-height: 600px;
}

@media (max-width: 1400px) {
    .rent-card {
        min-height: 472px;
        max-height: 500px;
    }
}

@media (max-width: 1300px) {
    .rent-card {
        min-height: 534px;
        max-height: 550px;
    }
}

@media (max-width: 1300px) {
    .rent-card {
        min-height: 590px;
        max-height: 650px;
    }
}

@media (max-width: 1300px) {
    .rent-card {
        min-height: 500px;
        max-height: 550px;
    }
}

@media (max-width: 770px) {
    .rent-card {
        min-height: 444px;
        max-height: 500px;
    }
}

@media (max-width: 400px) {
    .rent-card {
        min-height: 472px;
        max-height: 500px;
    }
}

.font-38 {
    font-size: 38px !important;
}

.font-4rem {
    font-size: 4rem !important;
}

@media (max-width: 475px) {
    .font-4rem {
        font-size: 3rem !important;
    }
}

.cellphoneEnable {
    max-height: 60px;
    max-width: none !important;
}

/* @media (max-width: 400px) {
    .cellphoneEnable {
        max-height: 80px;
        max-width: none !important;
    }
} */